body {
  width: 250px;
  font-size: 12px;
  font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
}

.icon {
  float: left;
  width: 50px;
}

.content {
  float: left;
  width: 190px;
  padding-left: 10px;
}

.clearboth {
  clear: both;
}